<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-list role="list">
            <!-- routerLinkActive="active" è per dire se siamo effettivament alla pagina x -->
            <mat-list-item role="listitem" routerLink="pagina1" [routerLinkActive]="'active'">lista elementi</mat-list-item>
            <mat-list-item role="listitem" routerLink="pagina2" [routerLinkActive]="'active'">inserisci elementi</mat-list-item>
            <mat-list-item role="listitem" routerLink="pagina3" [routerLinkActive]="'active'">cancella elementi</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span class="example-spacer"></span>
            <!-- collegare con il logout local storage etc -->
            <button (click)="onLogout()" class="example-icon" aria-label="Example icon-button with share icon"> 
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>