<form [formGroup]="pagina2form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Position</mat-label>
        <input matInput type="position" formControlName="position">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput type="weight" formControlName="weight">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Symbol</mat-label>
        <input matInput type="symbol" formControlName="symbol">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Invia</button>
</form>